{% extends 'restaurant/base.html' %}
{% load  staticfiles i18n %}

{% block title %}
	Add Restaurant 
{% endblock title %}

{% block header %}
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <div class="right menu">
		    <div class="ui buttons">
			  <a class="ui button tomato pair">Order Food</a>
			  <div class="or"></div>
			  <a class="ui positive button pair book">Book a Table</a>
			</div>
			<div class="ui buttons">
			 <li> <a class="ui button tomato loginbtn" href="{% url 'account_login' %}">Login</a></li>
			</div>
		  </div>
	    </div>
	 </div>
	</nav>
{% endblock header%}

{% block content %}
		
	{% block formcontent %}
	{% endblock formcontent %}
   			 			
{% endblock %}