{% extends 'restaurant/base.html' %}
{% load staticfiles %}

{% block title %} Foodie | {{ restaurant_instance.name }}{% endblock title %}

{% block header %}
	<div class="container-fluid">
		<nav class="navbar navbar-dark bg-inverse">
		  <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">
		    &#9776;
		  </button>
		  <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
		    <a class="navbar-brand" href="#"><img src="{% static 'img/foodieLogo.png'%}" alt="" class="img-fluid"></a>
		    <ul class="nav navbar-nav pull-xs-right">
		      <li class="nav-item active">
		        <a class="nav-link" href="#">Welcome <span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="#">Add Restaurant</a>
		      </li>
		      <li class="nav-item">
		        <div class="ui buttons">
				  <a class="nav-link ui button tomato pair">Order Food</a>
				  <div class="or"></div>
				  <a class="nav-link ui positive button pair book">Book a Table</a>
			</div>
		      </li>
		      {% if user.is_authenticated %}
			      <li class="nav-item">
					  	<a class="nav-link user-icon" href="{% url 'userprofiles:profile' user.username|slugify %}"><i class="fa fa-user"></i></a>
				</li>
			{% else %}
				<li class="nav-item">
				      <div class="ui buttons">
					  	<a class="ui button tomato loginbtn" href="{% url 'account_login' %}">Login</a>
					</div>
				</li>
			{% endif %}
		    </ul>
		  </div>
		</nav>
	</div>
{% endblock header %}

{% block content %}
<div class="detail">
	<div class="row">
		<div class="col-md-12 cover_photo">
			<img src="{% if restaurant_instance.image %}{{restaurant_instance.image.url}} {% else%} {% static 'img/default.jpg'%} {% endif%}" 
				alt="" class="img-fluid" height="400px";/>
		</div>
	</div>
	
	<div class="col-sm-12 col-md-12">
		<div class="ui threaded comments" style="padding:4em;">
			<form action="." method="POST">
				{{ review_form }}
				{% csrf_token %}
				<input type="submit" class="btn tomato"/>
			</form>
		  <h3 class="ui dividing header">Comments</h3>
		 {% for review in reviews %}
		  <blockquote class="blockquote">
		  	<span> {{review.reviewer }} <p class="lead"> {{ review.review }} </p></span>
		  	<footer> <small>{{review.created|timesince}} ago, {{ review.children.count }} replies </small> </footer>
			{% for child_review in review.children %}
			<blockquote class="blockquote">
			  	<span> {{child_review.reviewer }} <p class="lead"> {{ child_review.review }} </p></span>
			  	<footer> {{child_review.created|timesince}} ago </footer>
		  	</blockquote>
			{% endfor %}

		  	<form action="." method="POST">
				{{ review_form }}
				{% csrf_token %}
				<input type="hidden" name="parent_id" value="{{ review.id }}" />
				<input type="submit" class="btn tomato" value="Reply" />
			</form>
		  </blockquote><hr/>
		{% endfor %}
		</div>
	</div>
	<div class="container" style="padding:5em;">
	</div>
	<div id="detail-restaurant">
	</div>
</div>
	
{% endblock %}


{% block jsfile %}
{{ block.super }}
<script type="text/javascript" src="{% static 'build/js/app.js' %}"></script>
<script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
<script>
	var data = {
		is_authenticated:{% if request.user.is_authenticated %} true {% else %} false {% endif %},
		res_id: {{ restaurant_instance.id }},
		res_pk: {{ restaurant_instance.pk }},
		count_favorite: {{ restaurant_instance.count_favorite }},
		url:{% url 'restaurants:favorite' %},
		slug:'{{ restaurant_instance.slug }}'
		// csrf_token:{{ csrf_token }}
	} 
	console.log(data);
	$(function() {
  		app.showDetailRestaurant("detail-restaurant",data);
	});
</script>
{% endblock jsfile %}




